/*
your css is very fixed sized, try to design your layout in a more responsive manner
so that when the window is resized the game still fits in the center of the display
this css creates a very broken layout in any display that isn't the exact same size as yours
*/

.bgcontainer{
    width: 690; /* no units? */
    height: 800;
    background-color: black;
    margin-top: 100px;
    margin-left: 500px;
    align-items: center;
}

/*
all containers have the same height/width/background-color
those should be merged in a single class. you can give your elements multiple classes
like <div class="container_default container_1"></div>
though hardcoding margins to element indexes is also not a good idea
*/
.container1 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: 50px;
    margin-left: 30px;
}
.container2 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: -150px;
    margin-left: 190px;
}
.container3 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: -150px;
    margin-left: 350px;
}
.container4 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: -150px;
    margin-left: 510px;
}
.container5 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: 10px;
    margin-left: 30px;
}
.container6 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: -150px;
    margin-left: 190px;
}
.container7 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: -150px;
    margin-left: 350px;
}
.container8 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: -150px;
    margin-left: 510px;
}
.container9 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: 10px;
    margin-left: 30px;
}
.container10 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: -150px;
    margin-left: 190px;
}
.container11 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: -150px;
    margin-left: 350px;
}
.container12 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: -150px;
    margin-left: 510px;
}
.container13 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: 10px;
    margin-left: 30px;
}
.container14 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: -150px;
    margin-left: 190px;
}
.container15 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: -150px;
    margin-left: 350px;
}
.container16 {
    height: 150px;
    width: 150px;
    background-color: black;
    margin-top: -150px;
    margin-left: 510px;
}

/*
again button 1 and 2 have so much in common, there is no need to repeat these in your code
*/
.button1 {
    display: flex;
    background-color: #cdd647; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 200px;
    
  }
  
  .button2 {
    display: flex;
    background-color: #cdd647; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -100px 350px;
  }
